    @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');

H1{
    text-align: center;

    margin-top: 20px;

    font-family: BAGEL FAT ONE;
    font-size: 70px;
    color: #94624c;
}

/*BLOCO REVIEWS*/

.titulo_review{
    background-color: #ff5396;
    text-align: center;

    margin-top: 20px;

    font-family: JULIUS SANS ONE;
    font-size: 20PX;
    color: #fff9e8;
}

.pesquisar_inserir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: center;
}

.pesquisar_ipt{
    margin-left: 70px;
    margin-top: 20px;

    background-color: #fff9e8;
    padding: 9px;

    border-radius: 33px;
    border: solid 2px #94624c ;
}


.titulo_visualizacao{
    display: flex;
    justify-content: space-between;
    margin: 30px 60px 0px 60px ;

    font-family: JULIUS SANS ONE;
    font-size: 30px;
    font-weight: bold;

}


.book{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-size: 20px;
    font-family: DM sans;

    border: solid 2px #ff1493;
    border-radius: 33px;

    margin: 10px 60px 20px 60px ;
}

.titulo_livro{
    margin-left: 40px;
}
.nota_livro{
    margin-right: 650px;
}

.title{
    margin: 10px 0px 10px 20px;
}
.btn_review{
    margin: 10px 10px 10px 10px;
    padding: 12px 40px;
    border: none;
    background-color: #ff1493;
    color: #fff9e8;
    border-radius: 33px;
    font-weight: bold;
    font-family: JULIUS SANS ONE;
    cursor: pointer;
    font-size: 15px;
}

.inserir_btn{
    margin-right: 70px;
    margin-top: 20px;

    background-color: #ffbd59;
    padding: 11px;

    font-family: JULIUS SANS ONE;
    color: #fff9e8;

    border-radius: 33px;
    border:solid 0px
}

/* Estilo do Modal - para ficar igual ao seu modal de review */

.h2_modal{
    font-family: bagel fat one;
    text-align: center;
    color: #ff1493;
    font-size: 35px;
    margin-bottom: 10px ;
}

.modal_review {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffbd5970;
    align-items: center;
    justify-content: center;
}

.modal_interno {
    background: white;
    border-radius: 15px;
    width: 100%;
    max-width: 650px;
    min-height: 400px;
    padding: 50px 50px;

}

.modal_interno label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: JULIUS SANS ONE;
}

.modal_interno input {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 2px solid #ff1493;
    border-radius: 8px;
    font-size: 15px;
    font-family: DM  sans;
    text-align: start;
}

.modal_btn{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

.btn_cancelar, .btn_inserir{
    padding: 12px 40px;
    border: none;
    background-color: #ff1493;
    color: #fff9e8;
    border-radius: 33px;
    font-weight: bold;
    font-family: JULIUS SANS ONE;
    cursor: pointer;
    font-size: 15px;
}

.bloco_nota_genero input{
    text-align: center;
    width: 200px;
}
.bloco_nota_genero label{
    align-items: center;
    text-align: center;
}

/*inserir nova review*/
.nova_review{
    height: 200px;
}

/*Visualização de review*/

.modal_review_titulo{
    font-family: bagel fat one;
    text-align: center;
    color: #ff1493;
    font-size: 35px;
    margin-bottom: 10px ;
}

.review_titulo{
    border: solid 2px #ff1493;
    border-radius: 33px;
    height: 20px;
}

.review_autor{
    border: solid 2px #ff1493;
    border-radius: 33px;
    height: 20px;
}
.review_texto{
    border: solid 2px #ff1493;
    border-radius: 33px;
    height: 200px;
}