@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');

*{
    margin: 0;

}

body{
    background-color: #fff9e8;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.img_class {
    background-image: url("../icons/fundoamarelo.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 0 10% 10% 0;
}

.img_icon{
    display: flex;
    height: 25%;
    margin-bottom: 15px;
}

h1{
    display: flex;
    height: 10%;
    margin-bottom: 10px;
}

h2{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    font-family: 'Julius sans one';

}
h3{
    display: flex;
    align-items: right;
    justify-content: left;
    margin-bottom: 3px;

    font-family: 'Julius sans one';
    font-size: 17px;

}

.full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #94624c;
    
    width: 100%;
}

.cadastro_class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5px;

    height: 70%;
    width: 60%;

    border-radius: 33px;
    border: #ffbd59 solid 3px;

}

input{
    border: #94624c solid 1px;
    border-radius: 33px;
    height: 25px;
    width: 250px;
    padding: 5px 10px;
}


#cadastrar_btn{
    margin-top: 15px;
    height: 40px;
    width: 150px;
    border-radius: 33px;
    border: 0px;
    background-color: #94624c;
    color: #fff9e8;
}


