@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');

body{
    width: 100%;
}
.bloco1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 0 80px ;
    gap: 10px;
}
/* Bloco meta de leitura*/
.bloco_inserir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #ffbd59;

    border-radius: 33px;

    margin-right: px;
    height: 170px;
    width: 400px;

    font-family: Julius Sans One;
    font-size:23px;
    color: #fff9e8;

    gap: 10px;
}
.input_meta{
    background-color: #ff5396;

    border: solid 0 #ff5396;
    border-radius: 33px;

    height: 50px;

    font-family: Julius Sans One;
    font-size: 15px;
    text-align: center;
    color: #fff9e8;
}
.bnt_meta{
    width: 100px;
    height: 30px;

    background-color: #fff9e8;

    border: solid 2px;
    border-color: #ffbd59;
    border-radius: 33px;

    font-family: Julius Sans One;
    color: #94624c;
    font-size: 15px;
}
.meta_leitura{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 600px;
    height: 170px;

    border-radius: 33px;
    background-color: #ffbd59;

    color: #fff9e8;
    font-size: 27px;
    font-family: Julius Sans One;
}

.bloco_meta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.metrica_leitura{
    margin-top: 10px;
    font-size: 30px;
}

.grafico_dunut{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

/* Bloco paginas lidas*/

.paginas_lidas{
    display: flex;  
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
    width: 600px;
    height: 170px;
    gap: 10px;

    border-radius: 33px;
    background-color: #ffbd59;

    color: #fff9e8;
    font-size: 20px;
    font-family: Julius Sans One;
}

.texto1_paginas_lidas{
    font-size: 30px;
}

.metrica_paginas_lidas{
    font-size: 30px;
    color: #ff307f;
}


.bloco_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;

    
    border: 4px solid #ff5396;
    border-radius: 33px;
}

.grafico_barras1{
    width:35%;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 8%;
    margin-left: 8%;
}

.grafico_barras2{
    width: 35%;
    height: 350px;
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 8%;
}

/*bloco 3 -  input meta e classificaqcao*/

.bloco_3{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffbd59;

    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;

    border-radius: 33px;

    height: 300px;
}



.bloco_classificacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff9e8;

    border-radius: 33px;

    height: 250px;
    width: 300px;
    margin-left: 10px;

    font-family: Julius Sans One;
    color: #94624c;
    font-size: 30px;

    gap: 10px;
}
