@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');
 /*face*/
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;

    font-family: 'Bagel fat One';
    font-size: 600%;
    color: #ffbd59;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    font-family: 'julius sans one';
    font-size: 150%;
    color: #94624c;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;

    font-family: 'julius sans one';
    font-size: 160%;
    color: #94624c;
}

/*tela informativa*/

.tela_informativa{
    display: flex;
    justify-content: center;
    align-items: center;


    height: 70%;
    width: 100%;
    margin-top: 7%;

    background-color: #94624c;
}

.texto_informativo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

    font-family: 'julius sans one';
    color: #fff9e8;
    font-size: 25px;
    line-height: 1.5;
}

.img_informativo{
    max-width: 80%;
    height: auto;
}

/*tela habitos*/

.titulo_habitos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    font-family: 'julius sans one';
    font-size: 300%;
    font-weight: 600;
    color: #ffbd59;
}

.blocos_habitos{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3%;
    
}

.bloco1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 250px;
    width: 250px;


    margin-left: 30px;
    margin-right: 20px;

    border: 3px dotted #94624c;
    border-radius: 10%;

    font-family: 'julius sans one';
    color: #94624c;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.bloco2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 250px;
    width: 250px;


    margin-left: 30px;
    margin-right: 20px;

    border: 3px dotted #94624c;
    border-radius: 10%;

    font-family: 'julius sans one';
    color: #94624c;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.bloco3{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 250px;
    width: 250px;


    margin-left: 30px;
    margin-right: 20px;

    border: 3px dotted #94624c;
    border-radius: 10%;

    font-family: 'julius sans one';
    color: #94624c;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

/*tela beneficios*/

.tela_beneficios{
    display: inline-flex;
    align-items: center;
    justify-content: center;


    width: 100%;
    margin-top: 7%;
    background-color: #ff5396;
}

.img_beneficios{
    max-width: 25%;
}

.full_beneficios{
    background-color: #fff9e8;
    align-items: center;
    justify-content: center;
}

.titulo_beneficios{
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 7%;
    
    
    font-family: 'julius sans one';
    color: #ff5396;
    font-size: 40px;
}

.texto_beneficios{
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 7%;

    font-family: 'DM Sans';
    color: #94624c;
    font-size: 20px;
}

/*bibliotecas*/

.tela_bibliotecas{
    text-align: center;
    margin-top: 5%;
}

.titulo_bibliotecas{
    font-family: 'julius sans one';
    font-size: 40px;
    font-weight: 400;
    color: #94624c;
}

.bloco_bibliotecas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.img_biblioteca1{
    width: 70%;
}

.texto_biblioteca1{
    font-size: 20px;
    font-family: 'julius sans one';
    color: #94624c;
}

.img_biblioteca2{
    width: 70%;
}

.texto_biblioteca2{
    font-size: 20px;
    font-family: 'julius sans one';
    color: #94624c;
}

.img_biblioteca3{
    width: 70%;
}

.texto_biblioteca3{
    font-size: 20px;
    font-family: 'julius sans one';
    color: #94624c;
}

/*Footer*/
.futter {
    margin-top: 3%;
    padding: 20px 0;
}

.img_futter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5396;
    gap: 25px;
}

.img_github,
.img_linkedin {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.img_github:hover,
.img_linkedin:hover {
    transform: scale(1.15);
}

.texto_futter {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #94624c;
    margin-top: 15px;
    font-size: 1rem;
}