@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');


*{
    wifth: 100%;
}

.bloco_review{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;

    border: solid 3px #e74e8e;
    border-radius: 33px;

    margin: 50px 50px 50px 50px;
}

h1{
    color: #c57958;
    font-family: bagel fat one;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

.texto_review{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    font-size: 20px;
}

/*Footer*/
.futter {
    margin-top: 2%;
}

.img_futter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5396;
    gap: 25px;
}

.img_github,
.img_linkedin {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.img_github:hover,
.img_linkedin:hover {
    transform: scale(1.15);
}

.texto_futter {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #94624c;
    margin-top: 15px;
    font-size: 1rem;
}