@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');


*{
    wifth: 100%;
}

.bloco_review{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    border: solid 3px #e74e8e;
    border-radius: 33px;

    margin: 50px 50px 50px 50px;
}

h1{
    color: #c57958;
    font-family: bagel fat one;
    font-size: 60px;
    text-align: center;
    margin-top: px;
}

.titulo_review{
    font-family: 'julius sans one';
    font-size: 250%;
    font-weight: 600;
    color: #ffbd59;
    text-align: center;
    margin-top: 10px;
}

.nota{
    font-family: 'julius sans one';
    font-size: 200%;
    font-weight: 600;
    color: #c57958;
    text-align: center;
    margin-top: 10px;
}

.texto_review{
    display: flex;
    text-align: center;
    justify-content: center;
    margin:     20px 50px 50px 50px;
    font-size: 22px;
    font-family: DM sans;
    color: #94624c;
}

